{% extends "../../view/index.html" %}

    {% block title %}Locations{% endblock %}

	{% block includes %}
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAADcMh_We4l--9Cv4qSAGGThTFaIipCZ3scBmN86TxxCrg89sLyxTyk1fPCiAMxm4IYxgzf6ft27tiQw&sensor=false"
            type="text/javascript"></script>
    {% endblock %}
    
    {% block javascript %}
    function initialize() {
      if (GBrowserIsCompatible()) {
        var map = new GMap2(document.getElementById("map_canvas"));
        map.setCenter(new GLatLng({{locations.0.location}}), 13);
        map.setUIToDefault();
        
        var encodedPolyline = new GPolyline.fromEncoded({
      		color: "#3333cc",
      		weight: 10,
      		points: "{{encoded.0}}",
      		levels: "{{encoded.1}}",
      		zoomFactor: 32,
      		numLevels: 4
    	});
   		map.addOverlay(encodedPolyline);


      }
    }
    {% endblock %}

	{% block content %}
	<h2>Your Location Trace: </h2>
    <div id="map_canvas" style="width:100%; height:90%"></div>
	{% endblock %}