{% extends "../../view/index.html" %}

    {% block title %}Locations{% endblock %}

	{% block includes %}
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAADcMh_We4l--9Cv4qSAGGThQxwBYIyZ7vSBkCLT9w9k-v5w0vBxR9nfDuwUxl-nvvWdYxW3T9RbwcVw&sensor=false"
            type="text/javascript"></script>
    {% endblock %}
    
    {% block javascript %}
    function initialize() {
      if (GBrowserIsCompatible()) {
        var map = new GMap2(document.getElementById("map_canvas"));
        map.setUIToDefault();
        map.setCenter(new GLatLng(34.04037,-118.285217),12);
        
        {% if encoded %}
        var encodedPolyline = new GPolyline.fromEncoded({
      		color: "#3333cc",
      		weight: 10,
      		points: "{{encoded.0}}",
      		levels: "{{encoded.1}}",
      		zoomFactor: 32,
      		numLevels: 4
    	});
   		

   			map.setCenter(encodedPolyline.getBounds().getCenter(),12);
   			map.addOverlay(encodedPolyline);
   			
   		{% endif %}

   		


      }
    }
    {% endblock %}

	{% block content %}
	<h2>Your Locations: </h2>
    <div id="map_canvas" style="width:100%; height:90%"></div>
	{% endblock %}