<!DOCTYPE html "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    {% block includes %}{% endblock %}
    <title>{% block title %}My amazing site{% endblock %}</title>
    <script type="text/javascript">
	  {% block javascript %}{% endblock %}
    </script>
	<style type="text/css">

	li { display: inline; }

	</style>

  </head>
  <body onload="initialize()" onunload="GUnload()">
    <div id="sidebar">
      {% block sidebar %}
      <ul>
        <li><a href="/">Home</a> |</li>
        <li><a href="/sample">Samples</a> |</li>
        <li><a href="/location">Locations</a> |</li>
	<li><a href="/locationtrace">Location Traces</a> |</li>
        <li><a href="{{login_url}}">{{login_text}}</a></li>
      </ul>
      {% endblock %}
    </div>

    <div id="content">
      {% block content %}{% endblock %}
    </div>
  	
  </body>
</html>

